#blueSideForm{
background-color: #81F7F3;
 padding : 5px 5px 5px 5px;
 float:left;
 margin-left:50px;
 margin-top:5px;
 }
 #redSideForm{
 background-color:#F6CECE;
 float:left;
 margin-left :20px;
  padding : 5px 5px 5px 5px;
  margin-top:5px;
 }

 #blueSideForm label{
 display:inline-block;
 width: 73px;
   text-align: left;
   margin-bottom: 4px;
 }

 #redSideForm label{
 display:inline-block;
 width: 70px;
   text-align: left;
   margin-bottom: 4px;
 }


#additionalDataForm{
    margin-left: 35px;
}
 #additionalDataForm select,#additionalDataForm input{
 margin-bottom:5px;
 margin-top:5px;
 }
 #additionalDataForm label{
   display:inline-block;
   margin-left :20px;
  text-align:left;
  width: 80px;
  margin-bottom: 4px;
  }

#addForm{
  width:500px;
  float:left;
}

#textAreaForm textarea {
   resize: none;
   margin-left:6px;
   font-size:13px;
   font-family:Arial;
   overflow-y: hidden;
}

.flexItems{
display:flex;
align-items:center;
}

#gameLinkForm{
    width:350px;
}

#calendar{
padding:2px;
width:90px;
margin-left:3px;
}


#searchVideo {
float:left;
margin-left:50px;
}

#videoPlayer {
margin-top:5px;
border : 1px solid black;
height:315px;
width:560px;
}

#searchResult{
float:left;
margin-top:5px;
border : 1px solid black;
height:415px;
width:210px;
overflow:auto;
margin-left: 10px;
}

.imgYT{
width:100px;
margin-left:40px;
}

.listYT{
float:left;
margin:3px 0px 5px 7px;
}

#results{
overflow:hidden;
}

.textResult{
width:185px;
overflow:hidden;
height:63px;
}