#tabSize{
        overflow-x : auto;
        overflow-y:auto;
        font-size:13px;
        <!--font-family:Arial;-->
        float:right;
}

#searchNoFilter{
 float:left;
}

#searchWithFilters{
 float:left;
}

#searchBloc{
 float:left;
 margin-left:10px;
}



#tab{
            width:2100px;
            max-width:none;
}

td{
        width:100px;
        text-align:center;
}

.resetVal{
    cursor:pointer;
    margin-left: 4px;
    margin-bottom: 2px;
}

.tabBan{width:370px}

.tabGameName{
        width:780px;
}

.tabRegion{
        width:50px;
}

.blueSide{
        background-color:#81F7F3;
}

.redSide{
        background-color:#F6CECE;
}

.tabPatch{
        width:40px;
}

#filterBlueSide{
    float:left;
    background-color: #81F7F3;
    padding : 5px 5px 2px 5px;
}



#filterRedSide{
float:left;
margin-left:5px;
background-color:#F6CECE;
padding : 5px 5px 2px 5px;
}

#filterAdditional{
float:left;
}

label{
display:inline-block;
width: 60px;
  text-align: left;
}
