#tabSize{
        overflow-x : auto;
        font-size:13px;
        margin-left : 450px;
}

#searchNoFilter{
}

#searchWithFilters{
 float:left;
}

#searchBloc{
 position : fixed;
 float:left;
 margin-left:10px;
 margin-right: 10px;
}

#tab{
            width:2500px;
            max-width:none;
}

.tabLink{
    width:125px;
}

td{
        width:150px;
        text-align:center;
        padding-bottom:1px;
        margin-bottom:1px;
}

.resetVal{
    cursor:pointer;
    margin-left: 4px;
    margin-bottom: 2px;
}

.tabBan{width:370px}

.tabGameName{
        width:800px;
}

.tabDate{
        width:200px;
}

#tabSize tr:hover{
    color : red;
}



.tabRegion{
        width:100px;
}

.blueSide{
        background-color:#81F7F3;
}

.redSide{
        background-color:#F6CECE;
}

.tabPatch{
        width:40px;
}

#filterBlueSide{
    float:left;
    background-color: #81F7F3;
    padding : 5px 5px 2px 5px;
}



#filterRedSide{
float:left;
margin-left:5px;
background-color:#F6CECE;
padding : 5px 5px 2px 5px;
}

#filterAdditional{
float:left;
}

label{
display:inline-block;
width: 125px;
  text-align: left;
}

#filterBlueSide label{
display:inline-block;
width: 60px;
  text-align: left;
}

#filterRedSide label{
display:inline-block;
width: 60px;
  text-align: left;
}
