*{
    box-sizing:border-box;
}

#tabPoolChamp{
    float:left;
    margin-left: 15px;
    text-align:center;
}

#tabPoolChamp2{
    float:left;
    margin-left: 15px;
    text-align:center;
}

#tabPref{
    float:left;
    margin-left: 15px;
    text-align:center;
}

#tabComboChamp{
    float:right;
    width:316px;
}

#nbreComboChamp{
    width:301px;
    float:left;
}

#imageComboChamp{
    width:318px;
    height:482px;
    overflow: auto;
}

#supPref{
    width: 60px;
    text-align:center;
    border-right: 1px solid red;
    float:left;
}

div.col{
    width: 60px;
    text-align:center;
    border-right: 1px solid red;
    float:left;
}

div.colCreerImage{
    width: 40px;
    height: 40px;
    text-align:center;
    float:right;
}

div.colCreerDroite{
    width: 119px;
    height: 40px;
    float:right;
    margin-left:10px;
}

div.colCreerIcone{
    width:40px;
    height: 40px;
    float:right;
}

div.colCreerGauche{
    width: 59px;
    height: 40px;
    float:left;
    text-align:center;
}

div.alignementDroite{
    width: 270px;
    height: 42px;
    border: 1px solid red;
    margin-bottom: 10px;
}

div.colonneDroite{
    width: 250px;
    float:right;
    margin-right: 20px;
}

div.tableauGrand{
    width: 600px;
}

div.colGrande{
    float:left;
    width:200px;
}

div.colPref{
    width: 142px;
    text-align:center;
    border-right: 1px solid red;
    float:left;
}

div.colPrefsansbordure{
    margin-top:51px;
    margin-left: 1px;
    width: 140px;
    height:39px;
    text-align:center;
}

div.boutonColPrefsansbordure{
    width: 50px;
    height: 39px;
    text-align: center;
    float:left;
}

.boutonPref{
    margin-top: 124px;
}

.formPref{
    width:776px;
}

div.col1{
    width: 61px;
    text-align:center;
    border-left: 1px solid red;
    border-right: 1px solid red;
    float:left;
}

div.colPref1{
    width: 143px;
    text-align:center;
    border-left: 1px solid red;
    border-right: 1px solid red;
    float:left;
}

div.ligne1{
    width: 100%;
    text-align:center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}

div.ligne{
    width: 100%;
    height: 60px;
    text-align:center;
    border-bottom: 1px solid red;
}

div.lignePref{
    width: 100%;
    height: 91px;
    text-align:center;
    border-bottom: 1px solid red;
}

div.ligneH{
    width: 100%;
    text-align:center;
    border-bottom: 1px solid red;
}

img.ligne{
    width: 59px;
    height: 59px;
    align:center;
}

img.modif{
    width: 40px;
    height: 40px;
}

button.toggleClassement{
    height:39px;
    width:200px;
}

input.toggleClassement{
    height:39px;
    width:200px;
}

div.toggleClassement{
    height:20px;
    padding-top:11px;
}

div.nomChampionCreer{
    height:20px;
    padding-top: 11px;
}

div.icone{
    padding-top: 11px;
    padding-right: 11px;
}

img.icone{
    width:20px;
    height:20px;
}

#milieu{
    float:left;
    margin-left: 250px;
    margin-right: 250px;
}

button.milieu{
    width:201px;
    margin-bottom: 5px;
}

a.lien2{
    margin-left: 10px;
}

