<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Ekko'}selected='selected' #{/if} value='Ekko'>Ekko</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Fiora'}selected='selected' #{/if} value='Fiora'>Fiora</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Gangplank'}selected='selected' #{/if} value='Gangplank'>Gangplank</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Gnar'}selected='selected' #{/if} value='Gnar'>Gnar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Irelia'}selected='selected' #{/if} value='Irelia'>Irelia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Jayce'}selected='selected' #{/if} value='Jayce'>Jayce</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Kassdin'}selected='selected' #{/if} value='Kassdin'>Kassdin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Kennen'}selected='selected' #{/if} value='Kennen'>Kennen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Kled'}selected='selected' #{/if} value='Kled'>Kled</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Malzahar'}selected='selected' #{/if} value='Malzahar'>Malzahar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Maokai'}selected='selected' #{/if} value='Maokai'>Maokai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Nautilus'}selected='selected' #{/if} value='Nautilus'>Nautilus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Poppy'}selected='selected' #{/if} value='Poppy'>Poppy</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Riven'}selected='selected' #{/if} value='Riven'>Riven</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Rumble'}selected='selected' #{/if} value='Rumble'>Rumble</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Shen'}selected='selected' #{/if} value='Shen'>Shen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Trundle'}selected='selected' #{/if} value='Trundle'>Trundle</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Vladimir'}selected='selected' #{/if} value='Vladimir'>Vladimir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rTop == 'Yasuo'}selected='selected' #{/if} value='Yasuo'>Yasuo</option>
