<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Ahri'}selected='selected' #{/if} value='Ahri'>Ahri</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Ekko'}selected='selected' #{/if} value='Ekko'>Ekko</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Fiora'}selected='selected' #{/if} value='Fiora'>Fiora</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Gangplank'}selected='selected' #{/if} value='Gangplank'>Gangplank</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Gnar'}selected='selected' #{/if} value='Gnar'>Gnar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Graves'}selected='selected' #{/if} value='Graves'>Graves</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Irelia'}selected='selected' #{/if} value='Irelia'>Irelia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Jayce'}selected='selected' #{/if} value='Jayce'>Jayce</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Kennen'}selected='selected' #{/if} value='Kennen'>Kennen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Lissandra'}selected='selected' #{/if} value='Lissandra'>Lissandra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Maokai'}selected='selected' #{/if} value='Maokai'>Maokai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Nautilus'}selected='selected' #{/if} value='Nautilus'>Nautilus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Poppy'}selected='selected' #{/if} value='Poppy'>Poppy</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Renekton'}selected='selected' #{/if} value='Renekton'>Renekton</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Rumble'}selected='selected' #{/if} value='Rumble'>Rumble</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Shen'}selected='selected' #{/if} value='Shen'>Shen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Singed'}selected='selected' #{/if} value='Singed'>Singed</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Trundle'}selected='selected' #{/if} value='Trundle'>Trundle</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bTop == 'Yasuo'}selected='selected' #{/if} value='Yasuo'>Yasuo</option>
