<option value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Alistar'}selected='selected' #{/if} value='Alistar'>Alistar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Anivia'}selected='selected' #{/if} value='Anivia'>Anivia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Ashe'}selected='selected' #{/if} value='Ashe'>Ashe</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Aurelion Sol'}selected='selected' #{/if} value='Aurelion Sol'>Aurelion Sol</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Bard'}selected='selected' #{/if} value='Bard'>Bard</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Brand'}selected='selected' #{/if} value='Brand'>Brand</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Braum'}selected='selected' #{/if} value='Braum'>Braum</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Caitlyn'}selected='selected' #{/if} value='Caitlyn'>Caitlyn</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Cassiopeia'}selected='selected' #{/if} value='Cassiopeia'>Cassiopeia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Corki'}selected='selected' #{/if} value='Corki'>Corki</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Ekko'}selected='selected' #{/if} value='Ekko'>Ekko</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Elise'}selected='selected' #{/if} value='Elise'>Elise</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Evelynn'}selected='selected' #{/if} value='Evelynn'>Evelynn</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Ezreal'}selected='selected' #{/if} value='Ezreal'>Ezreal</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Fiora'}selected='selected' #{/if} value='Fiora'>Fiora</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Gangplank'}selected='selected' #{/if} value='Gangplank'>Gangplank</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Gnar'}selected='selected' #{/if} value='Gnar'>Gnar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Gragas'}selected='selected' #{/if} value='Gragas'>Gragas</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Graves'}selected='selected' #{/if} value='Graves'>Graves</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Hecarim'}selected='selected' #{/if} value='Hecarim'>Hecarim</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Irelia'}selected='selected' #{/if} value='Irelia'>Irelia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Janna'}selected='selected' #{/if} value='Janna'>Janna</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Jayce'}selected='selected' #{/if} value='Jayce'>Jayce</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Jhin'}selected='selected' #{/if} value='Jhin'>Jhin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Jinx'}selected='selected' #{/if} value='Jinx'>Jinx</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kalista'}selected='selected' #{/if} value='Kalista'>Kalista</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Karma'}selected='selected' #{/if} value='Karma'>Karma</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kassadin'}selected='selected' #{/if} value='Kassadin'>Kassadin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kennen'}selected='selected' #{/if} value='Kennen'>Kennen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'KhaZix'}selected='selected' #{/if} value='KhaZix'>KhaZix</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kindred'}selected='selected' #{/if} value='Kindred'>Kindred</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kled'}selected='selected' #{/if} value='Kled'>Kled</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Kogmaw'}selected='selected' #{/if} value='Kogmaw'>Kogmaw</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Leblanc'}selected='selected' #{/if} value='Leblanc'>Leblanc</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Lee sin'}selected='selected' #{/if} value='Lee sin'>Lee sin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Leesin'}selected='selected' #{/if} value='Leesin'>Leesin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Lissandra'}selected='selected' #{/if} value='Lissandra'>Lissandra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Lucian'}selected='selected' #{/if} value='Lucian'>Lucian</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Malzahar'}selected='selected' #{/if} value='Malzahar'>Malzahar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Maokai'}selected='selected' #{/if} value='Maokai'>Maokai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Morgana'}selected='selected' #{/if} value='Morgana'>Morgana</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Nami'}selected='selected' #{/if} value='Nami'>Nami</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Nautilus'}selected='selected' #{/if} value='Nautilus'>Nautilus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Nidalee'}selected='selected' #{/if} value='Nidalee'>Nidalee</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Nocturne'}selected='selected' #{/if} value='Nocturne'>Nocturne</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Olaf'}selected='selected' #{/if} value='Olaf'>Olaf</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Orianna'}selected='selected' #{/if} value='Orianna'>Orianna</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Pantheon'}selected='selected' #{/if} value='Pantheon'>Pantheon</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Poppy'}selected='selected' #{/if} value='Poppy'>Poppy</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Reksai'}selected='selected' #{/if} value='Reksai'>Reksai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Renekton'}selected='selected' #{/if} value='Renekton'>Renekton</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Riven'}selected='selected' #{/if} value='Riven'>Riven</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Rumble'}selected='selected' #{/if} value='Rumble'>Rumble</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Ryze'}selected='selected' #{/if} value='Ryze'>Ryze</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Shen'}selected='selected' #{/if} value='Shen'>Shen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Singed'}selected='selected' #{/if} value='Singed'>Singed</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Sivir'}selected='selected' #{/if} value='Sivir'>Sivir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Skarner'}selected='selected' #{/if} value='Skarner'>Skarner</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Soraka'}selected='selected' #{/if} value='Soraka'>Soraka</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Syndra'}selected='selected' #{/if} value='Syndra'>Syndra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Tahm Kench'}selected='selected' #{/if} value='Tahm Kench'>Tahm Kench</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Taliyah'}selected='selected' #{/if} value='Taliyah'>Taliyah</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Taric'}selected='selected' #{/if} value='Taric'>Taric</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Thresh'}selected='selected' #{/if} value='Thresh'>Thresh</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Tristana'}selected='selected' #{/if} value='Tristana'>Tristana</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Trundle'}selected='selected' #{/if} value='Trundle'>Trundle</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Twisted Fate'}selected='selected' #{/if} value='Twisted Fate'>Twisted Fate</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'TwistedFate'}selected='selected' #{/if} value='TwistedFate'>TwistedFate</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Twitch'}selected='selected' #{/if} value='Twitch'>Twitch</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Varus'}selected='selected' #{/if} value='Varus'>Varus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Vayne'}selected='selected' #{/if} value='Vayne'>Vayne</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Velkoz'}selected='selected' #{/if} value='Velkoz'>Velkoz</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Viktor'}selected='selected' #{/if} value='Viktor'>Viktor</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Vladimir'}selected='selected' #{/if} value='Vladimir'>Vladimir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Yasuo'}selected='selected' #{/if} value='Yasuo'>Yasuo</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Zac'}selected='selected' #{/if} value='Zac'>Zac</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Zed'}selected='selected' #{/if} value='Zed'>Zed</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Zilean'}selected='selected' #{/if} value='Zilean'>Zilean</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.champ == 'Zyra'}selected='selected' #{/if} value='Zyra'>Zyra</option>
