<option value=''>--------</option>
<option value='Anivia'>Anivia</option>
<option value='Aurelion Sol'>Aurelion Sol</option>
<option value='Cassiopeia'>Cassiopeia</option>
<option value='Corki'>Corki</option>
<option value='Ekko'>Ekko</option>
<option value='Jayce'>Jayce</option>
<option value='Karma'>Karma</option>
<option value='Kassadin'>Kassadin</option>
<option value='Leblanc'>Leblanc</option>
<option value='Lissandra'>Lissandra</option>
<option value='Malzahar'>Malzahar</option>
<option value='Orianna'>Orianna</option>
<option value='Pantheon'>Pantheon</option>
<option value='Ryze'>Ryze</option>
<option value='Syndra'>Syndra</option>
<option value='Taliyah'>Taliyah</option>
<option value='Twisted Fate'>Twisted Fate</option>
<option value='Varus'>Varus</option>
<option value='Velkoz'>Velkoz</option>
<option value='Viktor'>Viktor</option>
<option value='Vladimir'>Vladimir</option>
<option value='Zilean'>Zilean</option>
