<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == ''}selected='selected' #{/if} value=''></option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Aatrox'}selected='selected' #{/if} value='Aatrox'>Aatrox</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Elise'}selected='selected' #{/if} value='Elise'>Elise</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Evelynn'}selected='selected' #{/if} value='Evelynn'>Evelynn</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Gragas'}selected='selected' #{/if} value='Gragas'>Gragas</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Graves'}selected='selected' #{/if} value='Graves'>Graves</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Hecarim'}selected='selected' #{/if} value='Hecarim'>Hecarim</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'KhaZix'}selected='selected' #{/if} value='KhaZix'>KhaZix</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Kindred'}selected='selected' #{/if} value='Kindred'>Kindred</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Leesin'}selected='selected' #{/if} value='Leesin'>Leesin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Malzahar'}selected='selected' #{/if} value='Malzahar'>Malzahar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Nidalee'}selected='selected' #{/if} value='Nidalee'>Nidalee</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Olaf'}selected='selected' #{/if} value='Olaf'>Olaf</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Reksai'}selected='selected' #{/if} value='Reksai'>Reksai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Skarner'}selected='selected' #{/if} value='Skarner'>Skarner</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Vladimir'}selected='selected' #{/if} value='Vladimir'>Vladimir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rJungle == 'Zac'}selected='selected' #{/if} value='Zac'>Zac</option>
