<option value=''>--------</option>
<option value='Ekko'>Ekko</option>
<option value='Fiora'>Fiora</option>
<option value='Gangplank'>Gangplank</option>
<option value='Gnar'>Gnar</option>
<option value='Graves'>Graves</option>
<option value='Irelia'>Irelia</option>
<option value='Jayce'>Jayce</option>
<option value='Kennen'>Kennen</option>
<option value='Lissandra'>Lissandra</option>
<option value='Maokai'>Maokai</option>
<option value='Nautilus'>Nautilus</option>
<option value='Poppy'>Poppy</option>
<option value='Renekton'>Renekton</option>
<option value='Rumble'>Rumble</option>
<option value='Shen'>Shen</option>
<option value='Singed'>Singed</option>
<option value='Trundle'>Trundle</option>
<option value='Yasuo'>Yasuo</option>
