<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == ''}selected='selected' #{/if} value=''></option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Aatrox'}selected='selected' #{/if} value='Aatrox'>Aatrox</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Ashe'}selected='selected' #{/if} value='Ashe'>Ashe</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Caitlyn'}selected='selected' #{/if} value='Caitlyn'>Caitlyn</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Ezreal'}selected='selected' #{/if} value='Ezreal'>Ezreal</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Jhin'}selected='selected' #{/if} value='Jhin'>Jhin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Jinx'}selected='selected' #{/if} value='Jinx'>Jinx</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Kogmaw'}selected='selected' #{/if} value='Kogmaw'>Kogmaw</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Lucian'}selected='selected' #{/if} value='Lucian'>Lucian</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Sivir'}selected='selected' #{/if} value='Sivir'>Sivir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Tristana'}selected='selected' #{/if} value='Tristana'>Tristana</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Twitch'}selected='selected' #{/if} value='Twitch'>Twitch</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Varus'}selected='selected' #{/if} value='Varus'>Varus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rAdc == 'Vayne'}selected='selected' #{/if} value='Vayne'>Vayne</option>
