<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'AFS'}selected='selected' #{/if} value='AFS'>AFS</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'AHQ'}selected='selected' #{/if} value='AHQ'>AHQ</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'ANX'}selected='selected' #{/if} value='ANX'>ANX</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'C9'}selected='selected' #{/if} value='C9'>C9</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'CLG'}selected='selected' #{/if} value='CLG'>CLG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'DP'}selected='selected' #{/if} value='DP'>DP</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'EDG'}selected='selected' #{/if} value='EDG'>EDG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'FNC'}selected='selected' #{/if} value='FNC'>FNC</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'FW'}selected='selected' #{/if} value='FW'>FW</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'G2'}selected='selected' #{/if} value='G2'>G2</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'GIA'}selected='selected' #{/if} value='GIA'>GIA</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'H2K'}selected='selected' #{/if} value='H2K'>H2K</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'IM'}selected='selected' #{/if} value='IM'>IM</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'IMT'}selected='selected' #{/if} value='IMT'>IMT</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'ITZ'}selected='selected' #{/if} value='ITZ'>ITZ</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'JAG'}selected='selected' #{/if} value='JAG'>JAG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'KT'}selected='selected' #{/if} value='KT'>KT</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'LYN'}selected='selected' #{/if} value='LYN'>LYN</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'NV'}selected='selected' #{/if} value='NV'>NV</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'RNG'}selected='selected' #{/if} value='RNG'>RNG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'ROX'}selected='selected' #{/if} value='ROX'>ROX</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'SKT'}selected='selected' #{/if} value='SKT'>SKT</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'SPY'}selected='selected' #{/if} value='SPY'>SPY</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'SS'}selected='selected' #{/if} value='SS'>SS</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'SSG'}selected='selected' #{/if} value='SSG'>SSG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'TL'}selected='selected' #{/if} value='TL'>TL</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'TSM'}selected='selected' #{/if} value='TSM'>TSM</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'UOL'}selected='selected' #{/if} value='UOL'>UOL</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'VG'}selected='selected' #{/if} value='VG'>VG</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.team == 'WE'}selected='selected' #{/if} value='WE'>WE</option>
