<option value=''>--------</option>
<option value='Alistar'>Alistar</option>
<option value='Bard'>Bard</option>
<option value='Brand'>Brand</option>
<option value='Braum'>Braum</option>
<option value='Karma'>Karma</option>
<option value='Kennen'>Kennen</option>
<option value='Morgana'>Morgana</option>
<option value='Nami'>Nami</option>
<option value='Soraka'>Soraka</option>
<option value='Tahm Kench'>Tahm Kench</option>
<option value='Taric'>Taric</option>
<option value='Thresh'>Thresh</option>
<option value='Trundle'>Trundle</option>
<option value='Zyra'>Zyra</option>
