<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'EUW'}selected='selected' #{/if} value='EUW'>EUW</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'LCK'}selected='selected' #{/if} value='LCK'>LCK</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'LPL'}selected='selected' #{/if} value='LPL'>LPL</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'NA'}selected='selected' #{/if} value='NA'>NA</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'WILD'}selected='selected' #{/if} value='WILD'>WILD</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.region == 'WORLD'}selected='selected' #{/if} value='WORLD'>WORLD</option>
