<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == ''}selected='selected' #{/if} value="">--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '615'}selected='selected' #{/if} value='615'>6.15</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '616'}selected='selected' #{/if} value='616'>6.16</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '617'}selected='selected' #{/if} value='617'>6.17</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '618'}selected='selected' #{/if} value='618'>6.18</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '619'}selected='selected' #{/if} value='619'>6.19</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.patch == '620'}selected='selected' #{/if} value='620'>6.20</option>
