<option value=''>--------</option>
<option value='Ashe'>Ashe</option>
<option value='Caitlyn'>Caitlyn</option>
<option value='Corki'>Corki</option>
<option value='Ezreal'>Ezreal</option>
<option value='Jhin'>Jhin</option>
<option value='Jinx'>Jinx</option>
<option value='Kalista'>Kalista</option>
<option value='Kogmaw'>Kogmaw</option>
<option value='Lucian'>Lucian</option>
<option value='Sivir'>Sivir</option>
<option value='Tristana'>Tristana</option>
<option value='Twitch'>Twitch</option>
<option value='Varus'>Varus</option>
