<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Anivia'}selected='selected' #{/if} value='Anivia'>Anivia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Aurelion Sol'}selected='selected' #{/if} value='Aurelion Sol'>Aurelion Sol</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Cassiopeia'}selected='selected' #{/if} value='Cassiopeia'>Cassiopeia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Corki'}selected='selected' #{/if} value='Corki'>Corki</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Ekko'}selected='selected' #{/if} value='Ekko'>Ekko</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Jayce'}selected='selected' #{/if} value='Jayce'>Jayce</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Karma'}selected='selected' #{/if} value='Karma'>Karma</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Kassadin'}selected='selected' #{/if} value='Kassadin'>Kassadin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Leblanc'}selected='selected' #{/if} value='Leblanc'>Leblanc</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Lissandra'}selected='selected' #{/if} value='Lissandra'>Lissandra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Malzahar'}selected='selected' #{/if} value='Malzahar'>Malzahar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Orianna'}selected='selected' #{/if} value='Orianna'>Orianna</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Pantheon'}selected='selected' #{/if} value='Pantheon'>Pantheon</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Ryze'}selected='selected' #{/if} value='Ryze'>Ryze</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Syndra'}selected='selected' #{/if} value='Syndra'>Syndra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Taliyah'}selected='selected' #{/if} value='Taliyah'>Taliyah</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Twisted Fate'}selected='selected' #{/if} value='Twisted Fate'>Twisted Fate</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Varus'}selected='selected' #{/if} value='Varus'>Varus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Velkoz'}selected='selected' #{/if} value='Velkoz'>Velkoz</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Viktor'}selected='selected' #{/if} value='Viktor'>Viktor</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Vladimir'}selected='selected' #{/if} value='Vladimir'>Vladimir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bMid == 'Zilean'}selected='selected' #{/if} value='Zilean'>Zilean</option>
