<option value=''>--------</option>
<option value='Ekko'>Ekko</option>
<option value='Fiora'>Fiora</option>
<option value='Gangplank'>Gangplank</option>
<option value='Gnar'>Gnar</option>
<option value='Irelia'>Irelia</option>
<option value='Jayce'>Jayce</option>
<option value='Kassdin'>Kassdin</option>
<option value='Kennen'>Kennen</option>
<option value='Kled'>Kled</option>
<option value='Malzahar'>Malzahar</option>
<option value='Maokai'>Maokai</option>
<option value='Nautilus'>Nautilus</option>
<option value='Poppy'>Poppy</option>
<option value='Riven'>Riven</option>
<option value='Rumble'>Rumble</option>
<option value='Shen'>Shen</option>
<option value='Trundle'>Trundle</option>
<option value='Vladimir'>Vladimir</option>
<option value='Yasuo'>Yasuo</option>
