<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == ''}selected='selected' #{/if} value=''></option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Akali'}selected='selected' #{/if} value='Akali'>Akali</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Alistar'}selected='selected' #{/if} value='Alistar'>Alistar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Bard'}selected='selected' #{/if} value='Bard'>Bard</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Brand'}selected='selected' #{/if} value='Brand'>Brand</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Braum'}selected='selected' #{/if} value='Braum'>Braum</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Janna'}selected='selected' #{/if} value='Janna'>Janna</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Karma'}selected='selected' #{/if} value='Karma'>Karma</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Nami'}selected='selected' #{/if} value='Nami'>Nami</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Soraka'}selected='selected' #{/if} value='Soraka'>Soraka</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Tahm Kench'}selected='selected' #{/if} value='Tahm Kench'>Tahm Kench</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Taric'}selected='selected' #{/if} value='Taric'>Taric</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Thresh'}selected='selected' #{/if} value='Thresh'>Thresh</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Trundle'}selected='selected' #{/if} value='Trundle'>Trundle</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rSupport == 'Zyra'}selected='selected' #{/if} value='Zyra'>Zyra</option>
