<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Aatrox'}selected='selected' #{/if} value='Aatrox'>Aatrox</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Alistar'}selected='selected' #{/if} value='Alistar'>Alistar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Bard'}selected='selected' #{/if} value='Bard'>Bard</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Brand'}selected='selected' #{/if} value='Brand'>Brand</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Braum'}selected='selected' #{/if} value='Braum'>Braum</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Karma'}selected='selected' #{/if} value='Karma'>Karma</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Kennen'}selected='selected' #{/if} value='Kennen'>Kennen</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Morgana'}selected='selected' #{/if} value='Morgana'>Morgana</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Nami'}selected='selected' #{/if} value='Nami'>Nami</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Soraka'}selected='selected' #{/if} value='Soraka'>Soraka</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Tahm Kench'}selected='selected' #{/if} value='Tahm Kench'>Tahm Kench</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Taric'}selected='selected' #{/if} value='Taric'>Taric</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Thresh'}selected='selected' #{/if} value='Thresh'>Thresh</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Trundle'}selected='selected' #{/if} value='Trundle'>Trundle</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bSupport == 'Zyra'}selected='selected' #{/if} value='Zyra'>Zyra</option>
