<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Elise'}selected='selected' #{/if} value='Elise'>Elise</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Gragas'}selected='selected' #{/if} value='Gragas'>Gragas</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Graves'}selected='selected' #{/if} value='Graves'>Graves</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Hecarim'}selected='selected' #{/if} value='Hecarim'>Hecarim</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Lee sin'}selected='selected' #{/if} value='Lee sin'>Lee sin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Nidalee'}selected='selected' #{/if} value='Nidalee'>Nidalee</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Nocturne'}selected='selected' #{/if} value='Nocturne'>Nocturne</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Olaf'}selected='selected' #{/if} value='Olaf'>Olaf</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Reksai'}selected='selected' #{/if} value='Reksai'>Reksai</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bJungle == 'Skarner'}selected='selected' #{/if} value='Skarner'>Skarner</option>
