<option value=''>--------</option>
<option value='Elise'>Elise</option>
<option value='Evelynn'>Evelynn</option>
<option value='Gragas'>Gragas</option>
<option value='Graves'>Graves</option>
<option value='Hecarim'>Hecarim</option>
<option value='Khazix'>Khazix</option>
<option value='Kindred'>Kindred</option>
<option value='Leesin'>Leesin</option>
<option value='Malzahar'>Malzahar</option>
<option value='Nidalee'>Nidalee</option>
<option value='Olaf'>Olaf</option>
<option value='Reksai'>Reksai</option>
<option value='Skarner'>Skarner</option>
<option value='Vladimir'>Vladimir</option>
<option value='Zac'>Zac</option>
