<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Anivia'}selected='selected' #{/if} value='Anivia'>Anivia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Aurelion Sol'}selected='selected' #{/if} value='Aurelion Sol'>Aurelion Sol</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Cassiopeia'}selected='selected' #{/if} value='Cassiopeia'>Cassiopeia</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Ekko'}selected='selected' #{/if} value='Ekko'>Ekko</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Elise'}selected='selected' #{/if} value='Elise'>Elise</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Jayce'}selected='selected' #{/if} value='Jayce'>Jayce</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Jhin'}selected='selected' #{/if} value='Jhin'>Jhin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Karma'}selected='selected' #{/if} value='Karma'>Karma</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Kassadin'}selected='selected' #{/if} value='Kassadin'>Kassadin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Leblanc'}selected='selected' #{/if} value='Leblanc'>Leblanc</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Lissandra'}selected='selected' #{/if} value='Lissandra'>Lissandra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Malzahar'}selected='selected' #{/if} value='Malzahar'>Malzahar</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Orianna'}selected='selected' #{/if} value='Orianna'>Orianna</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Ryze'}selected='selected' #{/if} value='Ryze'>Ryze</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Syndra'}selected='selected' #{/if} value='Syndra'>Syndra</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Taliyah'}selected='selected' #{/if} value='Taliyah'>Taliyah</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'TwistedFate'}selected='selected' #{/if} value='TwistedFate'>TwistedFate</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Varus'}selected='selected' #{/if} value='Varus'>Varus</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Velkoz'}selected='selected' #{/if} value='Velkoz'>Velkoz</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Viktor'}selected='selected' #{/if} value='Viktor'>Viktor</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Vladimir'}selected='selected' #{/if} value='Vladimir'>Vladimir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Zed'}selected='selected' #{/if} value='Zed'>Zed</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.rMid == 'Zilean'}selected='selected' #{/if} value='Zilean'>Zilean</option>
