<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == ''}selected='selected' #{/if} value=''>--------</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Ashe'}selected='selected' #{/if} value='Ashe'>Ashe</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Caitlyn'}selected='selected' #{/if} value='Caitlyn'>Caitlyn</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Corki'}selected='selected' #{/if} value='Corki'>Corki</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Ezreal'}selected='selected' #{/if} value='Ezreal'>Ezreal</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Jhin'}selected='selected' #{/if} value='Jhin'>Jhin</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Jinx'}selected='selected' #{/if} value='Jinx'>Jinx</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Kalista'}selected='selected' #{/if} value='Kalista'>Kalista</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Kogmaw'}selected='selected' #{/if} value='Kogmaw'>Kogmaw</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Lucian'}selected='selected' #{/if} value='Lucian'>Lucian</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Sivir'}selected='selected' #{/if} value='Sivir'>Sivir</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Tristana'}selected='selected' #{/if} value='Tristana'>Tristana</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Twitch'}selected='selected' #{/if} value='Twitch'>Twitch</option>
<option #{if ObjectValueSelect!=null && ObjectValueSelect.bAdc == 'Varus'}selected='selected' #{/if} value='Varus'>Varus</option>
