#{extends 'mainRor.html'/}

#{set title:'Pool champions' /}

<a href="/">Retourner à l'accueil</a>
<a class="lien2" href="/pref-cont">Gérer préférences/contraintes</a>
<a class="lien2" href="/API">API</a>
<a class="lien2" href="/accesPageChampionsJson">Json</a>
<a class="lien2" href="/jQuery">Test</a><br/><br/><br/>

<div id="tabPoolChamp" class="toggleYourChampionPool">
    Your champion Pool<br/><br/>
    <div class="col1">
        <div class="ligne1"><strong>Top</strong><br/><a href="@{ChampionsController.create('Top','monCamp')}">&{'Modifier'}</a></div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Top")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleListes.get(0)<tailleListes.get(10)}
        #{list items:1..tailleListes.get(10)-tailleListes.get(0), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Jungle</strong><br/><a href="@{ChampionsController.create('Jungle','monCamp')}">&{'Modifier'}</a></div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Jungle")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleListes.get(2)<tailleListes.get(10)}
        #{list items:1..tailleListes.get(10)-tailleListes.get(2), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Mid</strong><br/><a href="@{ChampionsController.create('Mid','monCamp')}">&{'Modifier'}</a></div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Mid")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleListes.get(4)<tailleListes.get(10)}
        #{list items:1..tailleListes.get(10)-tailleListes.get(4), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Adc</strong><br/><a href="@{ChampionsController.create('Adc','monCamp')}">&{'Modifier'}</a></div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Adc")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleListes.get(6)<tailleListes.get(10)}
        #{list items:1..tailleListes.get(10)-tailleListes.get(6), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Support</strong><br/><a href="@{ChampionsController.create('Support','monCamp')}">&{'Modifier'}</a></div>
        #{list items:listeChampion, as:'champion'}
        #{if champion.ligne.equals("Support")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleListes.get(8)<tailleListes.get(10)}
        #{list items:1..tailleListes.get(10)-tailleListes.get(8), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
</div>

<div id="tabPoolChamp2" class="toggleAdverseChampionPool" style="display:none">
    Adverse champion Pool<br/><br/>
    <div class="col1">
        <div class="ligne1"><strong>Top</strong><br/><a href="@{ChampionsController.create('Top','autreCamp')}">&{'Modifier'}</a></div>
        #{list items:listeAdverseChampion, as:'champion'}
        #{if champion.ligne.equals("Top")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleAdverseListes.get(0)<tailleAdverseListes.get(10)}
        #{list items:1..tailleAdverseListes.get(10)-tailleAdverseListes.get(0), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Jungle</strong><br/><a href="@{ChampionsController.create('Jungle','autreCamp')}">&{'Modifier'}</a></div>
        #{list items:listeAdverseChampion, as:'champion'}
        #{if champion.ligne.equals("Jungle")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleAdverseListes.get(2)<tailleAdverseListes.get(10)}
        #{list items:1..tailleAdverseListes.get(10)-tailleAdverseListes.get(2), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Mid</strong><br/><a href="@{ChampionsController.create('Mid','autreCamp')}">&{'Modifier'}</a></div>
        #{list items:listeAdverseChampion, as:'champion'}
        #{if champion.ligne.equals("Mid")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleAdverseListes.get(4)<tailleAdverseListes.get(10)}
        #{list items:1..tailleAdverseListes.get(10)-tailleAdverseListes.get(4), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Adc</strong><br/><a href="@{ChampionsController.create('Adc','autreCamp')}">&{'Modifier'}</a></div>
        #{list items:listeAdverseChampion, as:'champion'}
        #{if champion.ligne.equals("Adc")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        #{if tailleAdverseListes.get(6)<tailleAdverseListes.get(10)}
        #{list items:1..tailleAdverseListes.get(10)-tailleAdverseListes.get(6), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
    <div class="col">
        <div class="ligne1"><strong>Support</strong><br/><a href="@{ChampionsController.create('Support','autreCamp')}">&{'Modifier'}</a></div>
        #{list items:listeAdverseChampion, as:'champion'}
        #{if champion.ligne.equals("Support")}
        <div class="ligne"><img class="ligne" src=${champion.getUrlImage()} title="${champion.nom}" border="4"></div>
        #{/if}
        #{/list}
        <!-- affiche des cases vides -->
        #{if tailleAdverseListes.get(8)<tailleAdverseListes.get(10)}
        #{list items:1..tailleAdverseListes.get(10)-tailleAdverseListes.get(8), as:'i'}
        <div class="ligne"></div>
        #{/list}
        #{/if}
    </div>
</div>

<div id="tabComboChamp">
    <div id="nbreComboChamp" align="center">
        #{if poolChampions.size()>40}
        40 meilleures combinaisons parmi ${poolChampions.size()}
        #{/if}
        #{else}
        ${poolChampions.size()} combinaisons possibles
        #{/else}
        <input type="button" onclick="changementAffichage();" value="Top <-> Jungle">
    </div>

    <br/><br/>

    <div>
        <div class="col1">
            <div class="ligne1" id="ligne1"><strong>Top</strong></div>
        </div>
        <div class="col">
            <div class="ligne1" id="ligne2"><strong>Jungle</strong></div>
        </div>
        <div class="col">
            <div class="ligne1" id="ligne3"><strong>Mid</strong></div>
        </div>
        <div class="col">
            <div class="ligne1" id="ligne4"><strong>Adc</strong></div>
        </div>
        <div class="col">
            <div class="ligne1" id="ligne5"><strong>Support</strong></div>
        </div>
    </div>

    <div id="imageComboChamp">
        #{if poolChampions.size()>40}
        <div class="col1" id="col1">
            #{list items:poolChampions.subList(0,40), as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championTop.getUrlImage()} title="${pool.championTop.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col2">
            #{list items:poolChampions.subList(0,40), as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championJungle.getUrlImage()} title="${pool.championJungle.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col3">
            #{list items:poolChampions.subList(0,40), as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championMid.getUrlImage()} title="${pool.championMid.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col4">
            #{list items:poolChampions.subList(0,40), as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championAdc.getUrlImage()} title="${pool.championAdc.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col5">
            #{list items:poolChampions.subList(0,40), as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championSupport.getUrlImage()} title="${pool.championSupport.nom}" border="4"></div>
            #{/list}
        </div>
        #{/if}
        #{else}
        <div class="col1" id="col1a">
            #{list items:poolChampions, as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championTop.getUrlImage()} title="${pool.championTop.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col2a">
            #{list items:poolChampions, as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championJungle.getUrlImage()} title="${pool.championJungle.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col3a">
            #{list items:poolChampions, as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championMid.getUrlImage()} title="${pool.championMid.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col4a">
            #{list items:poolChampions, as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championAdc.getUrlImage()} title="${pool.championAdc.nom}" border="4"></div>
            #{/list}
        </div>
        <div class="col" id="col5a">
            #{list items:poolChampions, as:'pool'}
            <div class="ligne"><img class="ligne" src=${pool.championSupport.getUrlImage()} title="${pool.championSupport.nom}" border="4"></div>
            #{/list}
        </div>
        #{/else}
    </div>
</div>

<div id="milieu">
    <button class="milieu toggleYourChampionPool">Your champion pool</button><br/>
    <button class="milieu toggleAdverseChampionPool">Adverse champion pool</button>
</div>


#{set 'moreScripts'}
#{script 'lol.js'/}
#{/set}