
#{extends 'mainRor.html'/}

#{set title:'Edit ' + ligne /}

<a href="/">Retourner à l'accueil</a><br/>
<a href="/liste">Retourner à la sélection</a>

<br/><br/>

<div class="colonneDroite">
#{list items:listeChampion, as:'champion'}
#{if champion.ligne.equals(ligne)}
    <div class="alignementDroite">
        <div class="colCreerGauche">
            <div class="toggleClassement"># ${champion.preference}</div>
            <form class="toggleClassement" style="display: none" action="@{ChampionsController.changementPreference(champion.id)}" method="post">
                #
                <select name="champion.preference">
                    <option value='${champion.preference}'>${champion.preference}</option>
                    #{list items:1..preference, as:'i'}
                    #{if i!=champion.preference}
                    <option value='${i}'>${i}</option>
                    #{/if}
                    #{/list}
                </select>
                <!--<input type="submit" value="Ok">-->
            </form>
        </div>
        <div class="colCreerIcone">
            <div class="icone">
                <a href="@{ChampionsController.delete(champion.id,ligne,preference)}"><img class="icone" src="http://publicdomainvectors.org/photos/rodentia-icons_emblem-unreadable.png" title="Retirer ${champion.nom} de la sélection"></a>
            </div>
        </div>
        <div class="colCreerDroite">
            <div class="nomChampionCreer">${champion.nom}</div>
        </div>
        <div class="colCreerImage">
            <img class="modif" src=${champion.getUrlImage()} title="${champion.nom}" border="4">
            <a class="toggleSuppression" style="display: none" href="@{ChampionsController.delete(champion.id,ligne,preference)}"><img class="icone" src="http://www.icone-png.com/png/19/18859.png" title="Retirer ${champion.nom} de la sélection"></a>
        </div>
    </div>
#{/if}
#{/list}
</div>

<div class="tableauGrand">
    #{if nombreChampions.get(0)<10}
    <div class="colGrande">Ajouter un Champion
        <form action="@{ChampionsController.create(nombreChampions)}" method="post">
            <select name="champion.nom">
                #{render 'tags/dropDownAllChamp.html'/}
            </select>
            <input type="hidden" name="champion.ligne" value=${ligne}>
            <input type="hidden" name="champion.preference" value=${preference}>
            <input type="submit" value="Ok">
        </form>
    </div>
    #{/if}
    #{else}
    <div class="colGrande">Impossible d'ajouter un autre champion (10 max.)</div>
    #{/else}
    <div class="colGrande">
        <div class="toggleClassement">Modifier classement</div>
        <div class="toggleClassement" style="display: none">Annuler modification classement</div><br/>
        <button class="toggleClassement">Go</button>
        <button class="toggleClassement" style="display: none">Go</button>
    </div>
</div>

#{set 'moreScripts'}
    #{script 'lol.js'/}
#{/set}
