
#{extends 'mainRor.html'/}

#{set title:'Edit ' + ligne /}

<a href="/">Retourner à l'accueil</a><br/>
<a href="/liste">Retourner à la sélection</a>
<br/><br/>

<div class="tableauGrand">
    <div class="colGrande">Ajouter un Champion
        <form action="@{ChampionsController.create}" method="post">
            <select name="champion.nom">
                #{render 'tags/dropDownAllChamp.html'/}
            </select>

            <input type="hidden" name="champion.ligne" value=${ligne}>
            <input type="hidden" name="champion.preference" value=${preference}>
            <input type="submit" value="Ok">
        </form>
    </div>
    <div class="colGrande">
        <div class="toggleSuppression">Supprimer un champion</div>
        <div class="toggleSuppression" style="display: none">Annuler Suppression</div>
        <button class="toggleSuppression">Go</button>
        <button class="toggleSuppression" style="display: none">Go</button>
    </div>
    <div class="colGrande">
        <div class="toggleClassement">Modifier classement</div>
        <div class="toggleClassement" style="display: none">Annuler modification classement</div>
        <button class="toggleClassement">Go</button>
        <button class="toggleClassement" style="display: none">Go</button>
    </div>
</div>

<br/><br/><br/><br/><br/>

<div class="toggleSuppression">Classement champions : </div>
<div class="toggleSuppression" style="display: none">Sélectionner un champion à supprimer : </div>
<br/>
    #{list items:listeChampion, as:'champion'}
    #{if champion.ligne.equals(ligne)}
    <div class="col0 conteneur">
        <div class ="titreImageClassement" class="toggleClassement"># ${champion.preference} : ${champion.nom}</div>
        <form class="toggleClassement" style="display: none" action="@{ChampionsController.changementPreference(champion.id)}" method="post">
            <select name="champion.preference">
                #{list items:1..preference, as:'i'}
                    <option value='${i}'>${i}</option>
                #{/list}
            </select>
            <input type="submit" value="Ok">
        </form>
        <img class="modif" src=${champion.getUrlImage()} title="${champion.nom}" border="4">
        <a class="toggleSuppression" style="display: none" href="@{ChampionsController.delete(champion.id,ligne,preference)}"><img class="icone" src="http://www.icone-png.com/png/19/18859.png" title="Retirer ${champion.nom} de la sélection"></a>
    </div>
    #{/if}
    #{/list}
</div>

*{<!--<div class="conteneur">-->
    <!--<img class="contenu" src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/Akali.png" title="${champion.nom}" border="4">-->
    <!--<img class="apercu" src="http://www.icone-png.com/png/19/18859.png" title="Fermer">-->
<!--</div>-->

<!--<img class="cachee" id="1" src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/Aatrox.png" title="Aatrox" border="4">-->
<!--<img class="cachee" id="2" src="http://ddragon.leagueoflegends.com/cdn/6.20.1/img/champion/Ahri.png" title="Ahri" border="4">-->}*

#{set 'moreScripts'}
    #{script 'lol.js'/}
#{/set}
