#{extends 'mainRor.html'/}

#{set title:'gestion préférences et contraintes' /}

<a href="/liste">Retourner à la sélection</a><br/><br/>

<form class="formPref" action="@{ChampionsController.gestionPrefCont()}" method="post">
    <div id="tabPref">
        Associations souhaitables<br/><br/>
        <div class="colPref1">
            <div class="ligne1"><strong>Top</strong><br/></div>
            <div class="lignePref">
                <div class="colPrefsansbordure">Ajouter Champion
                    <select name="nomChampionTop">
                        #{render 'tags/dropDownAllChamp.html'/}
                    </select>
                </div>
            </div>
        </div>
        <div class="colPref">
            <div class="ligne1"><strong>Jungle</strong><br/></div>
            <div class="lignePref">
                <div class="colPrefsansbordure">Ajouter Champion
                    <select name="nomChampionJungle">
                        #{render 'tags/dropDownAllChamp.html'/}
                    </select>
                </div>
            </div>
        </div>
        <div class="colPref">
            <div class="ligne1"><strong>Mid</strong><br/></div>
            <div class="lignePref">
                <div class="colPrefsansbordure">Ajouter Champion
                    <select name="nomChampionMid">
                        #{render 'tags/dropDownAllChamp.html'/}
                    </select>
                </div>
            </div>
        </div>
        <div class="colPref">
            <div class="ligne1"><strong>Adc</strong><br/></div>
            <div class="lignePref">
                <div class="colPrefsansbordure">Ajouter Champion
                    <select name="nomChampionAdc">
                        #{render 'tags/dropDownAllChamp.html'/}
                    </select>
                </div>
            </div>
        </div>
        <div class="colPref">
            <div class="ligne1"><strong>Support</strong><br/></div>
            <div class="lignePref">
                <div class="colPrefsansbordure">Ajouter Champion
                    <select name="nomChampionSupport">
                        #{render 'tags/dropDownAllChamp.html'/}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="boutonColPrefsansbordure">
        <input class="boutonPref" type="submit" value="Ajouter">
    </div>
</form>



<div id="tabComboChamp">
    <div>
        <div class="col1">
            <div class="ligne1"><strong>Top</strong></div>
        </div>
        <div class="col">
            <div class="ligne1"><strong>Jungle</strong></div>
        </div>
        <div class="col">
            <div class="ligne1"><strong>Mid</strong></div>
        </div>
        <div class="col">
            <div class="ligne1"><strong>Adc</strong></div>
        </div>
        <div class="col">
            <div class="ligne1"><strong>Support</strong></div>
        </div>
    </div>

    #{list items:listePref, as:'pref'}
    <div class="ligneImagesPref">
        <div class="colImagesPref1">
            <img class="ligne" src=${pref.getUrlImagePref(pref.nomChampionTop)} title="${pref.nomChampionTop}" border="4">
        </div>
        <div class="colImagesPref">
            <img class="ligne" src=${pref.getUrlImagePref(pref.nomChampionJungle)} title="${pref.nomChampionJungle}" border="4">
        </div>
        <div class="colImagesPref">
            <img class="ligne" src=${pref.getUrlImagePref(pref.nomChampionMid)} title="${pref.nomChampionMid}" border="4">
        </div>
        <div class="colImagesPref">
            <img class="ligne" src=${pref.getUrlImagePref(pref.nomChampionAdc)} title="${pref.nomChampionAdc}" border="4">
        </div>
        <div class="colImagesPref">
            <img class="ligne" src=${pref.getUrlImagePref(pref.nomChampionSupport)} title="${pref.nomChampionSupport}" border="4">
        </div>
        <div class="colIconePref">
            <a href="@{ChampionsController.deletePref(pref.id)}"><img class="icone" src="http://publicdomainvectors.org/photos/rodentia-icons_emblem-unreadable.png" title="Retirer cette combinaison"></a>
        </div>
    </div>
    #{/list}
</div>