<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/datepicker-1.6.4-dist/css/bootstrap-datepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="public/datepicker-1.6.4-dist/js/bootstrap-datepicker.js"></script>

    <title>Add game</title>
</head>
<header style="text-align:center">
    <h2>Add new games</h2>
</header>
<body>
#{ifErrors}
<strong style="margin-left:150px;margin-top:5px;color:red">Some values are incorrect</strong>
#{/ifErrors}
#{if flash.fail}
<strong style="margin-left:146px;margin-top:5px;color:red">Record Failed - Contact the support</strong>
#{/if}
#{if flash.success}
<strong style="margin-left:193px;margin-top:5px;color:green">Record Successful</strong>
#{/if}

<div id="addForm">
    <form action="/createProGame" method="post">
        <div id="blueSideForm">
            <label #{ifError 'historyGame.blueTeam'} style="color:red;" #{/ifError}>Blue Team</label>
            <input value="${historyGame?.blueTeam}" maxlength="3" style="height:21px;width:47px;text-transform: uppercase;" type="text" name="historyGame.blueTeam">&nbsp;<i style="font-size:11px;">3 letters max</i><br/>
            <label #{ifError 'historyGame.bTop'} style="color:red;" #{/ifError}>Top</label>
            <select name="historyGame.bTop">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bJungle'} style="color:red;" #{/ifError}>Jungle</label>
            <select name="historyGame.bJungle">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bMid'} style="color:red;" #{/ifError}>Mid</label>
            <select name="historyGame.bMid">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bAdc'} style="color:red;" #{/ifError}>Adc</label>
            <select name="historyGame.bAdc">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bSupport'} style="color:red;" #{/ifError}>Support</label>
            <select name="historyGame.bSupport">#{dropDownAllChamp/}</select> <br/><br/>
            <label #{ifError 'historyGame.bBan1'} style="color:red;" #{/ifError}>Ban 1</label>
            <select name="historyGame.bBan1">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bBan2'} style="color:red;" #{/ifError}>Ban 2</label>
            <select name="historyGame.bBan2">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.bBan3'} style="color:red;" #{/ifError}>Ban 3</label>
            <select name="historyGame.bBan3">#{dropDownAllChamp/}</select> <br/>
        </div>
        <div id="redSideForm">
            <label #{ifError 'historyGame.redTeam'} style="color:red;" #{/ifError}>Red Team</label>
            <input value="${historyGame?.redTeam}" maxlength="3" style="height:21px;width:47px;text-transform: uppercase;" type="text" name="historyGame.redTeam">&nbsp;<i style="font-size:11px;">3 letters max</i><br/>
            <label #{ifError 'historyGame.rTop'} style="color:red;" #{/ifError}>Top</label>
            <select name="historyGame.rTop">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rJungle'} style="color:red;" #{/ifError}>Jungle</label>
            <select name="historyGame.rJungle">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rMid'} style="color:red;" #{/ifError}>Mid</label>
            <select name="historyGame.rMid">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rAdc'} style="color:red;" #{/ifError}>Adc</label>
            <select name="historyGame.rAdc">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rSupport'} style="color:red;" #{/ifError}>Support</label>
            <select name="historyGame.rSupport">#{dropDownAllChamp/}</select> <br/><br/>
            <label #{ifError 'historyGame.rBan1'} style="color:red;" #{/ifError}>Ban 1</label>
            <select name="historyGame.rBan1">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rBan2'} style="color:red;" #{/ifError}>Ban 2</label>
            <select name="historyGame.rBan2">#{dropDownAllChamp/}</select> <br/>
            <label #{ifError 'historyGame.rBan3'} style="color:red;" #{/ifError}>Ban 3</label>
            <select name="historyGame.rBan3">#{dropDownAllChamp/}</select> <br/>
        </div>
        <div style="clear:both"></div>
        <br/>
        <div id="additionalDataForm">
            <label #{ifError 'historyGame.region'} style="color:red;" #{/ifError}>Region</label>
            <select name="historyGame.region">#{dropDownRegion/}</select> <br/>
            <label #{ifError 'historyGame.patch'} style="color:red;" #{/ifError}>Patch</label>
            <select name="historyGame.patch">#{dropDownPatch/}</select> <br/>
            <div class="flexItems" id="textAreaForm">
                <label #{ifError 'historyGame.gameName'} style="color:red;" #{/ifError}>Name</label>
                <textarea placeholder="e.g : Game 1 Semi Finals S6 EU LCS Summer 2016 Playoffs" maxlength="100" rows="1" cols="49" name="historyGame.gameName" value="${historyGame?.gameName}"></textarea>
            </div>
            <label #{ifError 'historyGame.gameLink'} style="color:red;" #{/ifError}>Video Link</label>
            <input placeholder="e.g : https://www.youtube.com/watch?v=Th_jMrZvXPY" value="${historyGame?.gameLink}" type="text" id="gameLinkForm" name="historyGame.gameLink"/><br/>
            <div class="flexItems">
            <label #{ifError 'historyGame.gameDate'} style="color:red;" #{/ifError}>Date</label>
            <input value="${historyGame?.gameDate}" data-provide="datepicker" data-date-format="yyyy-mm-dd" id="calendar" class="datepicker" data-date-format="mm/dd/yyyy" type="text" name="historyGame.gameDate" />
            <i>format : 'yyyy-mm-dd'</i>
            </div>
        </div>
        <input style="float:right;" type="submit" value="Save"/>
    </form>
</div>
<div id="searchVideo">
    <form onsubmit="searchVideo();return false;">
Youtube search engine : <input type="text" id="searchQuery" /><input type="submit" value="Search">
    </form>
    <div id="videoPlayer">
    </div>
</div>
<div id="searchResult">
    <div id="results"></div>
</div>
<script>
    setDropDownValue();
    function setDropDownValue()
    {
        if ('${historyGame}' != '')
        {
            $("select[name='historyGame.bTop']").val('${historyGame?.bTop}');
            $("select[name='historyGame.bJungle']").val('${historyGame?.bJungle}');
            $("select[name='historyGame.bMid']").val('${historyGame?.bMid}');
            $("select[name='historyGame.bAdc']").val('${historyGame?.bAdc}');
            $("select[name='historyGame.bSupport']").val('${historyGame?.bSupport}');
            $("select[name='historyGame.bBan1']").val('${historyGame?.bBan1}');
            $("select[name='historyGame.bBan2']").val('${historyGame?.bBan2}');
            $("select[name='historyGame.bBan3']").val('${historyGame?.bBan3}');

            $("select[name='historyGame.rTop']").val('${historyGame?.rTop}');
            $("select[name='historyGame.rJungle']").val('${historyGame?.rJungle}');
            $("select[name='historyGame.rMid']").val('${historyGame?.rMid}');
            $("select[name='historyGame.rAdc']").val('${historyGame?.rAdc}');
            $("select[name='historyGame.rSupport']").val('${historyGame?.rSupport}');
            $("select[name='historyGame.rBan1']").val('${historyGame?.rBan1}');
            $("select[name='historyGame.rBan2']").val('${historyGame?.rBan2}');
            $("select[name='historyGame.rBan3']").val('${historyGame?.rBan3}');

            $("select[name='historyGame.patch']").val('${historyGame?.patch}');
            $("select[name='historyGame.region']").val('${historyGame?.region}');
        }
    }

      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('videoPlayer', {
          height: '315',
          width: '560',
          videoId: '',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING && !done) {
          setTimeout(stopVideo, 6000);
          done = true;
        }
      }
      function stopVideo() {
        player.stopVideo();
      }
var relatedVideoId='';
    function searchVideo(relatedVideoId){

        //Clear results
        $('#results').html('');
        $('#buttons').html('');

        //get form value
        q = $('#searchQuery').val();

        //Ajax call
        $.get(
            "https://www.googleapis.com/youtube/v3/search",
            {
                part:'snippet',
                q:q,
                type:'video',
                key:'AIzaSyBJXjYXnKP3XQoWqJzQosj3dziDAYbdmB0',
                maxResults:5,
                relatedToVideoId:relatedVideoId
            },
            function(data){
                console.log(data);

                $.each(data.items,function(i,item){

                    var output = getOutput(item);

                    $('#results').append(output);
                });
            });
    }

    function getOutput(item){
        var videoId = ''+item.id.videoId;
        var thumb = item.snippet.thumbnails.high.url;
        var title = item.snippet.title;

        var output = '' + '<div class="listYT">' +
        '<img class="imgYT" onclick="javascript:player.loadVideoById(\''+videoId+'\');searchVideo(\''+videoId+'\');" src="'+thumb+'">'+
        '<div class="textResult" onclick="javascript:player.loadVideoById(\''+videoId+'\');searchVideo(\''+videoId+'\');">'+title+'</div>' +
        '</div>';

        return output;
    }
</script>
</body>
</html>