#{extends 'main.html' /}
#{set title:'Home' /}

<h3 align="center" style="margin-bottom:30px;">Bienvenue sur Pro History</h3>

<div id="searchBloc">
<div align="center" id="searchNoFilter">
<h4 >Formulaire de recherche sans filtre</h4>
<form action=@{Application.searchNoFilter} method="get">
    <img class="resetVal" src="/public/images/reset.png" alt="reset"/>
    <select name="searchForm.champ" id="searchChamp">
        #{render 'tags/dropDownChamp.html'/}
    </select>
<input type="submit" value="Anywhere !"/>
</form>
</div>
<div style="clear:both;"></div>
<div id="searchWithFilters">
<h4>Formulaire de recherche avec filtre</h4>
<form action=@{Application.searchWithFilter} method="get">

    <div id="filterBlueSide">
    <label>Top</label> <select name="searchForm.bTop" id="searchFormbTop" class="selectBlueSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
    <label>Jungle</label> <select name="searchForm.bJungle" id="searchFormbJungle" class="selectBlueSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
    <label>Mid</label> <select name="searchForm.bMid" id="searchFormbMid" class="selectBlueSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
        <label>Adc</label><select name="searchForm.bAdc" id="searchFormbAdc" class="selectBlueSide" style="margin-left:4px;">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
    <label>Support</label> <select name="searchForm.bSupport" id="searchFormbSupport" class="selectBlueSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/>
    </div>

    <div id="filterRedSide">
        <label>Top</label> <select name="searchForm.rTop" id="searchFormrTop" class="selectRedSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
        <label>Jungle</label> <select name="searchForm.rJungle" id="searchFormrJungle" class="selectRedSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
        <label>Mid</label> <select name="searchForm.rMid" id="searchFormrMid" class="selectRedSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
        <label>Adc</label> <select name="searchForm.rAdc" id="searchFormrAdc" class="selectRedSide" >
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
        <label>Support</label> <select name="searchForm.rSupport" id="searchFormrSupport" class="selectRedSide">
        #{render 'tags/dropDownChamp.html'/}
    </select><img class="resetVal" src="/public/images/reset.png" alt="reset"/>
    </div>
    <div style="clear:both;"></div>
    <br/>
    <div id="filterAdditional">
        <div id="filterPatch">
        <label>Patch</label><select name="searchForm.patch" id="searchFormpatch" class="selectPatch">
        #{render 'tags/dropDownPatch.html'/}
        </select>
        </div>
        <div id="filterRegion">
            <label>Région</label><select name="searchForm.region" id="searchFormregion" class="selectRegion">
            #{render 'tags/dropDownRegion.html'/}
        </select>
        </div>
        <div>
            <input type="submit" value="Rechercher"/>
        </div>
    </div>
</form>
</div>
</div>

<script>
        $(".resetVal").click(function(event) {
        var idToReset = $(this).prev().attr("id");
        if(idToReset == undefined)
        {
            idToReset = $(this).next().attr("id");
        }
        $('#'+idToReset).val("");
        });

        $('#searchChamp').val('${PostChamp}');
        $('#searchFormbTop').val('${PostbTop}');
        $('#searchFormbJungle').val('${PostbJungle}');
        $('#searchFormbMid').val('${PostbMid}');
        $('#searchFormbAdc').val('${PostbAdc}');
        $('#searchFormbSupport').val('${PostbSupport}');
        $('#searchFormrTop').val('${PostrTop}');
        $('#searchFormrJungle').val('${PostrJungle}');
        $('#searchFormrMid').val('${PostrMid}');
        $('#searchFormrAdc').val('${PostrAdc}');
        $('#searchFormrSupport').val('${PostrSupport}');
        $('#searchFormpatch').val('${Postpatch}');
        $('#searchFormregion').val('${Postregion}');
</script>
<div id="tabSize">
<table class="" id="tab">
    <tr>
        <td class="tabRegion">Region</td>
        <td class="tabPatch">Version</td>
        <td>Vidéo</td>
        <td>Matchup</td>
        <td class="blueSide">Top</td>
        <td class="blueSide">Jungle</td>
        <td class="blueSide">Mid</td>
        <td class="blueSide">Adc</td>
        <td class="blueSide">Support</td>
        <td class="blueSide tabBan">Bans</td>
        <td class="redSide">Top</td>
        <td class="redSide">Jungle</td>
        <td class="redSide">Mid</td>
        <td class="redSide">Adc</td>
        <td class="redSide">Support</td>
        <td class="redSide tabBan">Bans</td>
        <td>Date</td>
        <td class="tabGameName">Nom</td>


    </tr>
    #{list items:hs, as:'hs' }
    <tr>
        <td class="tabRegion">${hs.region}</td>
        <td class="tabPatch">${hs.patch}</td>
        <td><a href="${hs.gameLink}" target="_blank">voir la game</a></td>
        <td >${hs.blueTeam} vs ${hs.redTeam}</td>
        <td class="blueSide">${hs.bTop}</td>
        <td class="blueSide">${hs.bJungle}	</td>
        <td class="blueSide">${hs.bMid}	</td>
        <td class="blueSide">${hs.bAdc}	</td>
        <td class="blueSide">${hs.bSupport}</td>
        <td class="tabBan blueSide">${hs.bBan1} - ${hs.bBan2} - ${hs.bBan3}</td>
        <td class="redSide">${hs.rTop}</td>
        <td class="redSide">${hs.rJungle}</td>
        <td class="redSide">${hs.rMid}</td>
        <td class="redSide">${hs.rAdc}</td>
        <td class="redSide">${hs.rSupport}</td>
        <td class="tabBan redSide">${hs.bBan1} - ${hs.bBan2} - ${hs.bBan3}</td>
        <td>${hs.gameDate}</td>
        <td class="tabGameName">${hs.gameName}</td>
    </tr>
    #{/list}
</table>
</div>