#{extends 'main.html' /}
#{set title:'Pro History' /}
<div id="header">
<h3 align="center" style="margin-bottom:5px;"><a href="/">Welcome to Pro History Search</a></h3>
<h4 align="center" style="margin-bottom:20px;">${nbFoundGames} game${nbFoundGames.pluralize()} found on ${nbTotalGames}</h4>
</div>
<div id="searchBloc">
    <ul class="nav nav-tabs">
        <li id="liSimpleSearch" class="active"><a data-toggle="tab" href="#simpleSearch">Basic Search</a></li>
        <li id="liAdvancedSearch" ><a data-toggle="tab" href="#advancedSearch">Advanced Search</a></li>
        <li><a data-toggle="tab" href="@{FormController.createProGame}" id="popuep" target="_blank">Add Game</a></li>
    </ul>
    <div class="tab-content">
        <div id="simpleSearch" class="tab-pane fade in active">
            <div id="searchNoFilter">
                #{set ObjectValueSelect:searchForm /}
                <h4 style="text-align:center">Basic Search</h4>
                <form action=@{Application.searchNoFilter} method="get">
                    <label>Champion</label><select name="searchForm.champ" id="searchChamp">
                        #{render 'tags/dropDownChamp.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>From patch</label><select name="searchForm.patch" class="searchFormpatch" class="selectPatch">
                        #{render 'tags/dropDownPatch.html'/}
                    </select><br/>
                        <label>Region</label><select name="searchForm.region" class="searchFormregion" class="selectRegion">
                        #{render 'tags/dropDownregion.html'/}
                    </select><br/>
                    <input type="submit" value="Anywhere !"/>
                </form>
            </div>
        </div>
        <div id="advancedSearch" class="tab-pane fade">
            <div id="searchWithFilters">
                <h4 align="center">Advanced Search</h4>
                <form action=@{Application.searchWithFilter} method="get">
                    <div id="filterBlueSide">
                        <label>Top</label> <select name="searchForm.bTop" id="searchFormbTop" class="selectBlueSide">
                        #{render 'tags/dropDownbTop.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Jungle</label> <select name="searchForm.bJungle" id="searchFormbJungle" class="selectBlueSide">
                        #{render 'tags/dropDownbJungle.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Mid</label> <select name="searchForm.bMid" id="searchFormbMid" class="selectBlueSide">
                        #{render 'tags/dropDownbMid.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Adc</label><select name="searchForm.bAdc" id="searchFormbAdc" class="selectBlueSide" style="margin-left:4px;">
                        #{render 'tags/dropDownbAdc.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Support</label> <select name="searchForm.bSupport" id="searchFormbSupport" class="selectBlueSide">
                        #{render 'tags/dropDownbSupport.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/>
                    </div>

                    <div id="filterRedSide">
                        <label>Top</label> <select name="searchForm.rTop" id="searchFormrTop" class="selectRedSide">
                        #{render 'tags/dropDownrTop.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Jungle</label> <select name="searchForm.rJungle" id="searchFormrJungle" class="selectRedSide">
                        #{render 'tags/dropDownrJungle.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Mid</label> <select name="searchForm.rMid" id="searchFormrMid" class="selectRedSide">
                        #{render 'tags/dropDownrMid.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Adc</label> <select name="searchForm.rAdc" id="searchFormrAdc" class="selectRedSide" >
                        #{render 'tags/dropDownrAdc.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/><br/>
                        <label>Support</label> <select name="searchForm.rSupport" id="searchFormrSupport" class="selectRedSide">
                        #{render 'tags/dropDownrSupport.html'/}
                    </select><img title="Reset Value" class="resetVal" src="/public/images/reset.png" alt="reset"/>
                    </div>
                    <div style="clear:both;"></div>
                    <br/>
                    <div id="filterAdditional">
                        <div class="filterPatch">
                            <label>From patch</label><select name="searchForm.patch" class="searchFormpatch" class="selectPatch">
                            #{render 'tags/dropDownPatch.html'/}
                        </select>
                        </div>
                        <div class="filterRegion">
                            <label>Region</label><select name="searchForm.region" class="searchFormregion" class="selectRegion">
                            #{render 'tags/dropDownRegion.html'/}
                        </select>
                        </div>
                        <div>
                            <input type="submit" value="Search"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
#{if hs.size() > 0}
<div id="tabSize">
<table class="" id="tab">
    <tr style="font-weight:bold;border:2px solid;">
        <td class="tabRegion">Region</td>
        <td class="tabPatch">Version</td>
        <td>Video</td>
        <td>Matchup</td>
        <td class="blueSide">Top</td>
        <td class="blueSide">Jungle</td>
        <td class="blueSide">Mid</td>
        <td class="blueSide">Adc</td>
        <td class="blueSide">Support</td>
        <td class="blueSide tabBan">Bans</td>
        <td class="redSide">Top</td>
        <td class="redSide">Jungle</td>
        <td class="redSide">Mid</td>
        <td class="redSide">Adc</td>
        <td class="redSide">Support</td>
        <td class="redSide tabBan">Bans</td>
        <td>Date</td>
        <td class="tabGameName">Name</td>
    </tr>
    #{list items:hs, as:'hs' }
    <tr>
        <input type="hidden" value="${hs.id}">
        <td class="tabRegion">${hs.region}</td>
        <td class="tabPatch">${hs.patch}</td>
        <td class="tabLink"><a href="${hs.gameLink}" target="_blank">Watch game</a></td>
        <td >${hs.blueTeam} vs ${hs.redTeam}</td>
        <td class="blueSide">${hs.bTop}</td>
        <td class="blueSide">${hs.bJungle}	</td>
        <td class="blueSide">${hs.bMid}	</td>
        <td class="blueSide">${hs.bAdc}	</td>
        <td class="blueSide">${hs.bSupport}</td>
        <td class="tabBan blueSide">${hs.bBan1} - ${hs.bBan2} - ${hs.bBan3}</td>
        <td class="redSide">${hs.rTop}</td>
        <td class="redSide">${hs.rJungle}</td>
        <td class="redSide">${hs.rMid}</td>
        <td class="redSide">${hs.rAdc}</td>
        <td class="redSide">${hs.rSupport}</td>
        <td class="tabBan redSide">${hs.bBan1} - ${hs.bBan2} - ${hs.bBan3}</td>
        <td class="tabDate">${hs.gameDate?.format('d MMMM y')}</td>
        <td class="tabGameName">${hs.gameName}</td>
    </tr>
    #{/list}
</table>
</div>
#{/if}
