<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ror.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        #{doLayout /}

        <script type="text/javascript" src="\public\jquery-ui-1.12.1.custom\external\jquery\jquery.js"></script>
        <script type="text/javascript" src="\public\jquery-ui-1.12.1.custom\jquery-ui.js"></script>
        #{get 'moreScripts' /}
    </body>
</html>
